html {
  box-sizing: border-box;
  /*--header_background_color: chartreuse;*/
  /*--company_mission_section_background_color: #c23764;*/
  /*--team_section_background_color: #202671;*/
  /*--card_background_color: #8c2773;*/
  --about_section_background_color: #1e0056;
  --footer_background_color: #001a44;
  --smooth_vertices: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.justified {
  text-align: justify;
  text-justify: inter-word;
}

body {
  padding: 0;
  background-image: url("..public/assets/shared/blue-planet.jpg") no-repeat top;
}

hr {
  color: antiquewhite;
  margin-top: 3%;
  margin-bottom: 3%;
}

.horizontally_centered {
  text-align: center;
}

.vertically_centered {
  margin-top: 20%;
  vertical-align: middle;
}

.increased_line_height {
  line-height: 1.2;
}

.black_text {
  color: black;
}

.container {
  margin: 0;
}

ul {
  list-style-type: none;
}

header,
main,
footer {
  width: 100%;
  color: antiquewhite;
}

section {
  overflow: hidden;
  width: 100%;
}

article {
  position: relative;
  width: 80%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: hidden;
}

article .card {
  background-color: var(--card_background_color);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  color: #000;
}

article .card:hover {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.7);
}

header {
  background-color: var(--header_background_color);
}

#company_mission_section {
  background-color: #000a34;
  background-image: radial-gradient(
    rgba(0, 0, 50, 1),
    rgba(200, 200, 255, 0.3)
  );
}

#company_mission_section h1 {
  margin-bottom: 1%;
}

#team_section {
  background-color: var(--team_section_background_color);
}

#team_section p {
  text-align: justify;
  text-justify: inter-word;
}

#team_section #leadership_article h1,
#team_section #management_article h1 {
  padding-top: 5%;
  padding-bottom: 5%;
}

#team_section #leadership_article .column,
#team_section #management_article .column {
  width: calc(100% / 5);
  float: left;
}

#team_section #leadership_article .column:nth-child(-n + 4),
#team_section #management_article .column:nth-child(-n + 4) {
  margin-right: calc(20% / 3);
}

#team_section #leadership_article .column .card,
#team_section #management_article .column .card {
  width: 100%;
  float: left;
  border-radius: var(--smooth_vertices);
}

#team_section #leadership_article .column .card img,
#team_section #management_article .column .card img {
  width: 100%;
  border-radius: var(--smooth_vertices);
}

#about_section {
  background-color: var(--about_section_background_color);
  background-image: radial-gradient(
    rgba(0, 0, 50, 1),
    rgba(200, 200, 255, 0.3)
  );
  font-size: large;
}

#about_section article {
  overflow: hidden;
}

#about_section #about_article .column {
  display: block;
  float: left;
  width: 42.5%;
}

#about_section #about_article .column:nth-child(1) {
  margin-right: 15%;
}

#about_section #about_article h1 {
  width: 100%;
}

#about_section #about_article h1 {
  vertical-align: middle;
}

#about_section #about_article p {
  width: 100%;
}

#about_section #about_article figure img {
  width: 100%;
  border-radius: var(--smooth_vertices);
}

#footer {
  position: relative;
  top: 25px;
  clear: both;
  background-color: var(--footer_background_color);
}

#footer .column {
  width: calc(100% / 4);
  float: left;
}

@media screen and (max-width: 600px) {
  #team_section #leadership_article .column,
  #team_section #management_article .column,
  #about_section #about_article .column,
  footer #footer_article .column {
    width: 100%;
    clear: both;
    display: block;
  }
}
