/* general settings */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.active {
  overflow-x: hidden;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: right;
  background-color: #f1f1f1;
  border-radius: 16px;
  height: 400px;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card img {
  width: 50%;
  float: left;
  margin-top: 20px;
  border: 1px solid blue;
  border-radius: 100px;
}
h1 {
  text-align: left;
  margin: 20px;
}

/*background missions*/
.one {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission1.jpeg");
}
.two {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission2.jpeg");
}
.three {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission3.jpeg");
}

.four {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission4.jpeg");
  
}
.five {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission5.jpeg");
  
}

.six {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission6.jpeg");
  
}
.seven {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission7.jpeg");
  
}

.eight {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission8.jpeg");
  
}
.nine {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission9.jpeg");
  
}
.ten {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission10.jpeg");
  
}
.eleven {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission11.jpeg");
  
}
.twelve {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission12.jpeg");
  
}
.thirteen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission13.jpeg");
  
}
.fourteen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission14.jpeg");
  
}
.fifteen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission15.jpeg");
  
}

.sixteen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission16.jpeg");
  
}

.seventeen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission17.jpeg");
  
}
.eighteen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission18.jpeg");
  
}
.nineteen {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission19.jpeg");
  
}
.twenty {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission20.jpeg");
  
}

.twentyone {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission21.jpeg");
  
}

.twentytwo {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission22.jpeg");
  
}

.twentythree {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission23.jpeg");
  
}

.twentyfour {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission24.png");
  
}

.twentyfive {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.52),
      rgba(25, 49, 114, 0.73)
    ),
    url("../assets/missions/backgrounds/mission25.jpeg");
  
}

/* go to top button */
#myBtn {
  padding: 15px;
}
