body {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 50, 1));
  margin: 0;
  height: 100vh; /*TODO: rimuovere poi quando si ha il contenuto vero e proprio*/
}

#bar {
  margin-top: 8px;
  width: 100%;
  height: 10vh;
}

#logo {
  max-width: 5%;
  max-height: 5%;
  margin-left: 20px;
  float: left;
}
#logo:hover {
  opacity: 0.8;
}

#logo {
  display: inline;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  float: right;
  padding: 0;
  margin: 0;
  float: right;
  width: 80vw;
  height: 100%;
  transition: 0.7s;
  margin-right: -70vw;
  margin-top: -8px;
  z-index: 9;
}
.sidebar.change {
  transform: translateX(-70vw);
}

.sidebar-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70vw;
  height: 100vh;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  /*background-color: #000000;*/
}

.sidebar-button {
  cursor: pointer;
  margin-left: auto;
  order: 2;
  padding-top: 20px;
  transition: 0.7s;
  float: left;
  width: 10vw;
  height: auto;
}
.sidebar-button.change {
  transform: translateX(15vw);
}
.button-line1,
.button-line2,
.button-line3 {
  width: 35px;
  height: 5px;
  background-color: #eee;
  margin: 6px 0;
  transition: 0.4s;
}
.change .button-line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #000;
}
.change .button-line2 {
  opacity: 0;
}
.change .button-line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #000;
}

.sidebar-logo {
  height: 20vh;
  width: auto;
  padding-top: 10%;
}

ul.sidebar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
li.sidebar-container {
  height: 7vh;
  width: 70vw;
  padding-bottom: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 100%);
  overflow: hidden;
}
div.sidebar-empty {
  height: 22.5vh;
  width: 70vw;
  padding-bottom: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 100%);
}
div.sidebar-border {
  height: 7vh;
  width: 70vw;
  padding-bottom: 3px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 100%);
}
a.sidebar-element {
  font-family: 'Raleway', sans-serif;
  display: block;
  line-height: 7vh;
  text-decoration: none;
  height: 7vh;
  font-size: 3vh;
  font-weight: bold;
  text-align: left;
  padding-left: 5%;
  color: #222;
  overflow: hidden;
}
a.sidebar-element:hover {
  background-color: #111;
  color: #ddd;
}

@media (min-width: 768px) {
  #sidebar-button,
  #sidebar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  #logo {
    max-width: 15%;
    max-height: 15%;
  }
  #navbar ul {
    display: none;
  }
  #bar {
    position: relative;
  }
}

main {
  padding: 1vh 2vw;
  color: grey;
  position: relative;
  z-index: -1;
}
