body {
    background-color: #fff;
    margin: 0;
}

#bar {
    margin-top: 8px;
}

#logo {
    max-width: 5%;
    max-height: auto;
    margin-left: 20px;
    float: left;
}
#logo:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
    #sidebar, 
    #sidebar-button {
        display: none;
    }
    #logo {
        max-width: 15%; 
    }
}
#logo {
  display: inline;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#sidebar-button {
    float: right;
}

#sidebar {
    float: right;
}
#sidebar ul {
    /*display: none;*/
}

.sidebar {
    padding: 0;
    margin: 0;
    float: right;
    width: 60%;
    height: 100%;
    background-color: #000000;
    transition: 0.7s;
    float: right;
  }
  .sidebar.is-closed {
    transform: translateX(100%);
  }