<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Candidates</title>
    <link rel="stylesheet" href="style/style.css" type="text/css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="container">
        <div class="logo">
          <a href="#">
            <img src="assets/shared/definitive_mini_logo.png" alt="logo" />
          </a>
        </div>
        <div class="navbar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#astro">Astronauts</a></li>
            <li><a href="#missions">Missions</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="join-us.html">Join Us</a></li>
            <li><a href="candidates.html">Candidates</a></li>
            <li><a href="about-us.html">About Us</a></li>
          </ul>
        </div>
        <div class="sidebar-container">
          <span onclick="toggleNav(this)">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </span>
          <div class="sidebar-content" id="sidebar-content">
            <div class="logo">
              <img src="assets/shared/logo.png" alt="Logo" />
            </div>
            <ul>
              <li class="sidebar-item"><a href="index.html">Home</a></li>
              <li class="sidebar-item"><a href="news.html">News</a></li>
              <li class="sidebar-item"><a href="astronauts.html">Astronauts</a></li>
              <li class="sidebar-item"><a href="missions.html">Missions</a></li>
              <li class="sidebar-item"><a href="gallery.html">Gallery</a></li>
              <li class="sidebar-item"><a href="join-us.html">Join Us</a></li>
              <li class="sidebar-item"><a href="about-us.html">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
